body{
    margin:0;
}
/* Esta es la seccion encabezado */
.indice {
    background: rgb(88, 87, 87)
}
.menu{
    font-size: 25px;
    margin-top: 0;
    display: flex;
    color:white;
}
.menu a{
    text-decoration: none;
}
.link{
    padding: 0 20px;
    text-decoration: none;
}
.indice a{
    color:white;
}
/* Esta el fin del encabezado y el comienzo del hero */
.hero{
    background:gray;
    display:flex;
    align-items: center;
    font-size: 28px;
}
h1 strong{
    color:rgb(104, 142, 248);
    margin-top:0;
}
/* Este es el fin del hero y el inicio de viajes */
.viaje {
    background: rgb(199, 198, 198);
    display: flex;
    justify-content: space-between;
}
/* Termina viajes y comienza pasa tiempo */
.titulo-libre{
    background: rgb(199, 198, 198);
    display: flex;
    color: rgb(104, 142, 248);
}

.pasaTiempo {
    background: rgb(199, 198, 198); 
    display: flex;
    justify-content: space-between;
}
/* Esta es la seccion de los lenguajes de programacion */
.python{
    display: block;
    background: rgb(199, 198, 198);
}
.python-foto{
    display:flex;
    width: 150px;
    height: 150px;
    margin: 0 10px;
    background-size: 150px 150px;
}
.html{
    display: block;
    background: rgb(199, 198, 198);
}
.html-foto{
    width: 150px;
    height: 150px;
    margin: 0 10px;
    background-size: 150px 150px;
}
.css{
    display: block;
    background: rgb(199, 198, 198);
}
.css-foto{
    width: 150px;
    height: 150px;
    margin: 0 10px;
    background-size: 150px 150px;
}
.javascript{
    display:block;
    background: rgb(199, 198, 198);
}
.javascript-foto{
    width: 150px;
    height: 150px;
    margin: 0 10px;
    background-size: 150px 150px;
}

.lenguajes{
    background: rgb(199, 198, 198);
    display: flex;
    flex-wrap: wrap;
    
}

/* Esta es la seccion del contacto */
.tituloLibre{
    background: gray;
    display: flex;
    color:rgb(104, 142, 248);
}
.contacto {
    background:gray;
    justify-content: space-between;
    display: flex;
}
.social-link{
    display:inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}
.social-link.instagram{
    background-image: url("fotos/instagramGris.jpg")
}
.social-link.facebook{
    background-image: url("fotos/facebookgris.png")
}
.social-link.github{
    background-image: url("fotos/logoGithub.PNG")
}
/* Esta es la seccion del footer */
.flooter{
    background: rgb(104, 142, 248);
    display: flex;
    color:white;
}
/* Este es container para que todo tenga orden */
.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    background: inherit;
}
