@media screen and (max-width:1023px){
    .contacto.texto.p{
        margin: 0 10px;
    }
}
@media screen and (max-width:767px){
    .titulo-libre{
        padding-left: 10px;
    }
    .viaje{
        padding-left: 5px;
        margin-left: 5%;
    }
    .hero{
        padding-top: 35px;
        padding-left: 10px;
    }
    .pasaTiempo{
        padding-left: 10px;
        display:block;
    } 
    .lenguajes{
        padding-left: 10px;
    }
    .tituloLibre{
        padding-left: 10px;
    }
    .contacto{
        padding-left: 5px;
    }
    .flooter{
        padding-left: 6px;
    }
    .contacto.texto.p{
        margin:5px 10px;
    }
    .burger-buttom{
        display: block;
        
    }
    .menu{
        display: block;
        height: auto;
        width: 100%;
    }
    .link{
        width: 100vw;
    }
    .link a{
        font-size: 30px;
    }
    .menu{
        position: fixed;
        z-index:2;
        background: rgba(104, 142, 248,.9);
        top:0;
        left:-100vw;
        width: 100vw;
        bottom: 0;
        align-items: center;
        justify-content: center;
        transition: .3s;
    } 
    .menu.is-active{
        left: 0;
    } 
}
@media screen and (max-width:425px){
    .contenido{
        width:280px ;
        height: 300px;
    }
    .canada{
        height:60px;
        padding-right:5%;
        
    }
    .freeTimeFoto{
        width: 150px;
    }
    .programingh3{
        padding-left:5%;
        
    }
    .programingP{
        padding-left:4%;
        padding-right:10%;
    }
    .photoProgramming{
        padding-left: 5%;
    }
    h1{
        font-size: 25px;
    }
    .viaje{
        margin-left: 0%;
        font-size: 14px;
    }
    .canada{
        width: 90px;
    }
}
@media screen and (max-width:320px){
   .pasaTiempo{
       display: inline;
   }
   .programingP{
        font-size:15px;
        width: 280px;
        padding-left:18%;
    }
    .programingh3{
        padding-left:15%;
    }
    .photoProgramming{
        padding-left: 25%;
        border-radius: 1%;
    }
}